<!--
  Generated template for the DeclenchementPcaPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar danger>
    <ion-title>Déclencher une alerte</ion-title>
    <ion-buttons end>
      <button *ngIf="mode">
        <ion-icon *ngIf="mode.test" name="call" light></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="declenchement-pca">
  <ion-list no-padding>
    <ion-item>
      <ion-label  primary>Sur quel site ?</ion-label>
      <ion-select [(ngModel)]="pca.site" (ngModelChange)="loadPersons()" okText="Choisir" cancelText="Annuler">
        <ion-option value="">== choisir un site ==</ion-option>
        <ion-option *ngFor="let site of sitesParam.sites" (value)="site">{{site}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="pca.site">
    <ion-item-divider primary>Qui êtes-vous, parmis les personnes habilitées ?</ion-item-divider>
    <ion-item *ngFor="let person of persons" (click)="verifAuth(person)">
        <h3>{{person.nom}}</h3>
        <p>{{person.fonction}}</p>
        <h3 item-right>{{person.telephone}}&nbsp;&nbsp;&nbsp;</h3>
        <ion-icon danger name="send" item-right></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>